{{> deleteModal }}
<h3 class="subtitle is-3">Mina tidigare arkiveringar</h3>
<div class="table-container">
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>URL</th>
                <th>Datum</th>
                <th>Förhandsgranska</th>
                <th>Ladda ner</th>
                <th class="has-text-right">Radera</th>
            </tr>
        </thead>
        <tbody id="archiveList">
            {{#each archives as |archive|}}
                <tr>
                    <td>
                        <p title="Arkivets namn">
                            {{ archive.prettyName }}
                        </p>
                    </td>
                    <td>
                        <p title="Arkivets datum">
                            {{ archive.date }}
                        </p>
                    </td>
                    <td>
                        <a class="button is-link is-outlined is-rounded is-small" href="/archives/preview/{{ archive.id }}" target="_blank" title="Förhandsgranska arkiv">
                            Förhandsgranska
                        </a>
                    </td>
                    <td>
                        <a class="button is-outlined is-primary is-rounded is-small" href="{{ archive.downloadPath }}" title="Ladda ner arkiv">
                            Ladda ner ({{ archive.fileSize}})
                        </a>
                    </td>
                    <td>
                        <div class="field is-pulled-right">
                            <button class="table-row-delete-btn button is-inverted is-rounded is-danger is-small modal-button action-delete" data-route="archives"
                                data-id="{{ archive.id }}" title="Radera arkiv">
                                <span class="icon">
                                    <i class="fas fa-lg fa-times"></i>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>
{{> pagination }}