<div id="previewArchive" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="previewTitle" class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <iframe id="previewContainer" width="100%" height="700px">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </section>
    </div>
</div>

<div id="confirmArchiveDel" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <p class="has-text-weight-bold is-size-5">Vill du verkligen radera detta arkiv?</p>
            <br>
            <button class="button is-danger hideModal">
                <span class="icon">
                    <i class="fas fa-times"></i>
                </span>
                <span>Radera</span>
            </button>
            <button class="button hideModal">Avbryt</button>
        </div>
    </div>
</div>


<div class="field">
    <h3 class="subtitle is-3">Mina tidigare arkiveringar</h3>
    <div id="recent-list" class="control">
        <ul>
            {{#each docs as |archive|}}
            <li>
                <div class="archive buttons">
                    <button class="button is-inverted is-rounded is-danger is-small modal-button action-delete" data-target="confirmArchiveDel"
                        data-id="{{ archive.id }}" title="Radera arkiv">
                        <span class="icon">
                            <i class="fas fa-lg fa-times"></i>
                        </span>
                    </button>
                    <a class="button is-outlined is-primary is-rounded is-small" href="{{ archive.path }}" title="Ladda ned arkiv">Ladda ned</a>
                    <button class="button is-outlined is-static is-rounded is-small" title="Filstorlek {{ archive.fileSize }}">{{ archive.fileSize }}</button>
                    <button class="button is-inverted is-link is-rounded is-small modal-button action-preview" data-target="previewArchive" data-id="{{ archive.id }}"
                        data-name="{{ archive.fileName }}" title="Förhandsgranska arkiv">{{ archive.fileName }}</button>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <br>
    <nav class="pagination" role="navigation" aria-label="pagination">
        {{#paginate pagination type="previous"}}
        <a href="?p={{n}}" id="list-previous" class="button pagination-previous" {{#if disabled}}disabled{{/if}}>
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>Föregående</span>
        </a>
        {{/paginate}} {{#paginate pagination type="next"}}
        <a href="?p={{n}}" id="list-next" class="button pagination-next" {{#if disabled}}disabled{{/if}}>
            <span>Nästa</span>
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </a>
        {{/paginate}}
    </nav>
</div>
</div>