{{> confirmDeleteArchive }}
{{!-- Preview archive modal --}}
<div id="previewArchive" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="previewTitle" class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <iframe id="previewContainer" width="100%" height="700px">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </section>
    </div>
</div>

<div class="field">
    <h3 class="subtitle is-3">Mina tidigare arkiveringar</h3>
    <p>WORK IN PROGRESS/ FRIDA</p>
    <div id="recent-list" class="control">
        <ul>
            {{#each docs as |archive|}}
            <li>
                <div class="archive buttons">

                    {{!-- Namn --}}
                    <a class="button is-inverted is-link is-rounded is-small" title="Arkivets namn">
                        {{ archive.fileName }}
                    </a>

                     {{!-- Tid --}}
                    <a class="button is-inverted is-link is-rounded is-small" title="Arkivets namn">
                        DATUM
                    </a>


                    {{!-- Förhandsgranskning FUNKAR EJ - öppnar ny flik --}}
                    {{!-- <a class="button is-outlined is-primary is-rounded is-small button is-link is-outlined" href="archives/preview/{{ archive.id }}"
                        target="_blank" title="Förhandsgranska arkiv">
                        Förhandsgranska
                    </a> --}}

                    {{!-- Förhandsgranskning FUNKAR EJ - öppnar ruta på samma sida --}}
                    <button class="button is-outlined is-primary is-rounded is-small button is-link is-outlined  action-preview" data-target="previewArchive"
                        data-id="{{ archive.id }}" title="Förhandsgranska arkiv">
                        Förhandsgranska
                    </button>

                    {{!-- Ladda ner --}}
                    <a class="button is-outlined is-primary is-rounded is-small modal-button action-preview" href="{{ archive.path }}" title="Ladda ned arkiv">
                        Ladda ner ({{ archive.fileSize}})
                    </a>

                    {{!-- Delete button --}}
                    <button class="button is-inverted is-rounded is-danger is-small modal-button action-delete" data-target="confirmDel"
                        data-id="{{ archive.id }}" title="Radera arkiv">
                        <span class="icon">
                            <i class="fas fa-lg fa-times"></i>
                        </span>
                    </button>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <br>
    <nav class="pagination" role="navigation" aria-label="pagination">
        {{#paginate pagination type="previous"}}
        <a {{#unless disabled}}href="?p={{n}}" {{/unless}} id="list-previous" class="button pagination-previous" {{#if disabled}}disabled{{/if}}>
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>Föregående</span>
        </a>
        {{/paginate}} {{#paginate pagination type="next"}}
        <a {{#unless disabled}}href="?p={{n}}" {{/unless}} id="list-next" class="button pagination-next" {{#if disabled}}disabled{{/if}}>
            <span>Nästa</span>
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </a>
        {{/paginate}}
    </nav>
</div>