{{> deleteModal }}
<h3 class="title is-3 has-text-weight-light">Tidigare arkiveringar</h3>
<div class="table-container">
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>URL</th>
                <th>Datum</th>
                <th class="has-text-right is-narrow"><span class="is-hidden-tablet-only">Förhandsgranska</span></th>
                <th class="has-text-centered is-hidden-mobile is-narrow"><span class="is-hidden-tablet-only">Ladda ner</span></th>
                <th class="has-text-right is-narrow"><span class="is-hidden-tablet-only">Radera</span></th>
            </tr>
        </thead>
        <tbody>
                {{#each archives as |archive|}}
                    <tr>
                        <td>
                            <p title="Arkivets namn">
                                {{ archive.prettyName }}
                            </p>
                        </td>
                        <td>
                            <p title="Arkivets datum">
                                {{ archive.date }}
                            </p>
                        </td>
                        <td class="has-text-right">
                            <a class="button is-info is-outlined is-rounded is-small" href="/archives/preview/{{ archive.id }}" target="_blank" title="Förhandsgranska arkiv">
                                <i class="fas fa-search"></i>&nbsp;<span class="is-hidden-tablet-only">Förhandsgranska</span>
                            </a>
                        </td>
                        <td class="has-text-right is-hidden-mobile">
                            <a class="button is-outlined is-primary is-rounded is-small" href="{{ archive.downloadPath }}" title="Ladda ner arkiv">
                                <i class="fas fa-download"></i><span class="is-hidden-tablet-only">&nbsp;Ladda ner</span>&nbsp;({{ archive.fileSize }})
                            </a>
                        </td>
                        <td class="has-text-right">
                            <a class="button is-outlined is-rounded is-danger is-small modal-button" data-route="archives"
                                data-id="{{ archive.id }}" title="Radera arkiv">
                                <span class="icon">
                                    <i class="fas fa-lg fa-times"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                {{/each}}
        </tbody>
    </table>
</div>
<br>
{{> pagination }}