{{> confirmDeleteArchive }}
{{> previewArchive }}

<h3 class="subtitle is-3">Mina tidigare arkiveringar</h3>
<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>URL</th>
            <th>Datum</th>
            <th>Förhandsgranska</th>
            <th>Ladda ner</th>
            <th>Radera</th>
        </tr>
    </thead>
    <tbody>
        {{#each archives as |archive|}}
        <tr title="Ändra schemaläggning">
            <td>
                <p title="Arkivets namn">
                    {{ archive.prettyName }}
                </p>
            </td>
            <td>
                <p title="Arkivets datum">
                    {{ archive.date }}
                </p>
            </td>
            <td>
                {{!-- <a class="button is-link is-outlined is-rounded is-small modal-button action-preview" href="/archives/preview/{{ archive.id }}"
                    target="_blank" title="Förhandsgranska arkiv">
                    Förhandsgranska
                </a> --}}
                <button class="button is-link is-outlined is-rounded is-small modal-button action-preview" data-target="previewArchive" data-id="{{ archive.id }}"
                    title="Förhandsgranska arkiv">Förhandsgranska
                </button>
            </td>
            <td>
                <a class="button is-outlined is-primary is-rounded is-small" href="{{ archive.path }}" title="Ladda ned arkiv">
                    Ladda ner ({{ archive.fileSize}})
                </a>
            </td>
            <td>
                <div class="field">
                    <button class="button is-inverted is-rounded is-danger is-small modal-button action-delete" data-target="confirmDel" data-id="{{ archive.id }}"
                        title="Radera arkiv">
                        <span class="icon">
                            <i class="fas fa-lg fa-times"></i>
                        </span>
                    </button>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<nav class="pagination" aria-label="pagination">
    {{#paginate pagination type="previous"}}
    <a {{#unless disabled}}href="?p={{n}}" {{/unless}} id="list-previous" class="button pagination-previous" {{#if disabled}}disabled{{/if}}>
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span>Föregående</span>
    </a>
    {{/paginate}} {{#paginate pagination type="next"}}
    <a {{#unless disabled}}href="?p={{n}}" {{/unless}} id="list-next" class="button pagination-next" {{#if disabled}}disabled{{/if}}>
        <span>Nästa</span>
        <span class="icon">
            <i class="fas fa-arrow-right"></i>
        </span>
    </a>
    {{/paginate}}
</nav>