<form action="/schedules/edit/{{schedule._id}}" method="post" id="updateSettings">
    <input type="hidden" name="typeOfSetting" value="0">
    <div class="field">
        <label class="label">Huvuddomän att arkivera
             <span class="tooltip invisbleButton" data-tooltip="Webbplats att arkivera"><i class="far fa-question-circle"></i></span>
        </label>
        <div class="control has-icons-left">
            <input class="input normal" id="url" type="url" required name="url" placeholder="Ange din webbadress" value="{{ schedule.url }}">
            <span class="icon is-small is-left">
                <i class="fas fa-link"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Subdomän att arkivera
            <span class="tooltip invisbleButton" data-tooltip="Webbplatsens subdomäner"><i class="far fa-question-circle"></i></span>
        </label>
        <div class="control has-icons-left">
            <input class="input normal" id="includeDomains" type="url" name="includeDomains" placeholder="https://sub.vecka.nu, https://sub2.vecka.nu"
                value="{{ schedule.includeDomains }}">
            <span class="icon is-small is-left">
                <i class="fas fa-link"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Sidor att exkludera
           <span class="tooltip invisbleButton" data-tooltip="Sidor som inte ska arkiveras"><i class="far fa-question-circle"></i></span>
        </label>
        <div class="control has-icons-left">
            <input class="input normal" id="excludePaths" type="text" name="excludePaths" placeholder="/fredag, /torsdag, /onsdag" value="{{ schedule.excludePaths }}">
            <span class="icon is-small is-left">
                <i class="fas fa-unlink"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Följ robots.txt och meta-taggar
            <span class="tooltip invisbleButton" data-tooltip="ÄNDRA, Fråga Meridium!!"><i class="far fa-question-circle"></i></span>
        </label>
        <div class="control">
            <label class="radio">
                <input type="radio" id="metaTags0" name="robots" value="0" {{#eq schedule.robots 0}} checked {{/eq}}> Ja
            </label>
            <label class="radio">
                <input type="radio" id="metaTags1" name="robots" value="1" {{#eq schedule.robots 1}} checked {{/eq}}> Ja, men filter överskrider
            </label>
            <label class="radio">
                <input type="radio" id="metaTags2" name="robots" value="2" {{#eq schedule.robots 2}} checked {{/eq}}> Nej
            </label>
        </div>
    </div>
    <div class="field">
        <label class="label">Mappstruktur
            <span class="tooltip invisbleButton" data-tooltip="Arkiveringen sparas i denna struktur"><i class="far fa-question-circle"></i></span>
        </label>
        <div class="control has-icons-left">
            <div class="select">
                <select name="structure" id="structure">
                    <option {{#eq schedule.structure 0}} selected="selected" {{/eq}} id="s0" value="0">Spegla mappstrukturen från källan (standard)</option>
                    <option {{#eq schedule.structure 1}} selected="selected" {{/eq}} id="s1" value="1">HTML i /, bilder & övrigt i /images/</option>
                    <option {{#eq schedule.structure 2}} selected="selected" {{/eq}} id="s2" value="2">HTML i /HTML/, bilder & övrigt i /images/</option>
                    <option {{#eq schedule.structure 3}} selected="selected" {{/eq}} id="s3" value="3">HTML i /, bilder & övrigt i /</option>
                    <option {{#eq schedule.structure 4}} selected="selected" {{/eq}} id="s4" value="4">HTML i /, bilder & övrigt i /xxx/ (där xxx är filändelse)</option>
                    <option {{#eq schedule.structure 5}} selected="selected" {{/eq}} id="s5" value="5">HTML i /HTML/, bilder & övrigt i /xxx/ (där xxx är filändelse)</option>
                </select>
                <div class="icon is-small is-left">
                    <i class="fas fa-folder"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Schemaläggning
            <span class="tooltip invisbleButton" data-tooltip="Webbplatsen arkiveras automatiskt vid valda tillfällen"><i class="far fa-question-circle"></i></span>
        </label>
        <div class="control has-icons-left">
            <div class="select">
                <select name="typeOfSchedule">
                    <option {{#eq schedule.typeOfSchedule 0}} selected="selected" {{/eq}} value="0">Ingen schemaläggning</option>
                    <option {{#eq schedule.typeOfSchedule 1}} selected="selected" {{/eq}} value="1">Varje dag</option>
                    <option {{#eq schedule.typeOfSchedule 2}} selected="selected" {{/eq}} value="2">Varje vecka</option>
                    <option {{#eq schedule.typeOfSchedule 3}} selected="selected" {{/eq}} value="3">Varje månad</option>
                </select>
                <div class="icon is-small is-left">
                    <i class="far fa-calendar-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">E-post</label>
        <div class="control has-icons-left">
            <input class="input" type="email" required name="email" placeholder="E-post" value="{{ schedule.email }}">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <p class="help">Du kommer notifieras när arkiveringen är klar.</p>
    </div>
    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" name="shouldNotify" {{#if schedule.shouldNotify }} checked {{/if}}> Skicka notifikationer
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" name="action" value="1" class="button is-success">
                <span class="icon is-small">
                    <i class="fas fa-save"></i>
                </span>
                <span>Spara</span>
            </button>
        </div>
    </div>
</form>