<div class="box">
    <nav class="level">
        <div class="level-item">
            <form action="/schedules/run/{{schedule._id}}" method="POST">
                <button type="submit" name="action" class="schedule-edit-btn button is-info">
                    <span class="icon is-small">
                        <i class="fas fa-cloud-download-alt"></i>
                    </span>
                    <span>Arkivera nu</span>
                </button>
            </form>
        </div>
        <div class="level-item">
            <button id="pause" class="schedule-edit-btn pause-state-buttons button is-warning{{#if schedule.isPaused}} hidden{{/if}}"
                data-id="{{schedule._id}}">
                <span class="icon is-small">
                    <i class="fas fa-pause"></i>
                    <i class="fas fa-spinner fa-pulse hidden"></i>
                    <i class="fas fa-exclamation-triangle hidden"></i>
                </span>
                <span>Pausa</span>
            </button>
            <button id="start" class="schedule-edit-btn pause-state-buttons button is-success{{#unless schedule.isPaused}} hidden{{/unless}}"
                data-id="{{schedule._id}}">
                <span class="icon is-small">
                    <i class="fas fa-play"></i>
                    <i class="fas fa-spinner fa-pulse hidden"></i>
                    <i class="fas fa-exclamation-triangle hidden"></i>
                </span>
                <span>Starta</span>
            </button>
        </div>
        <div class="level-item">
            <a class="schedule-edit-btn button is-danger modal-button" data-route="schedules" data-id="{{schedule._id}}" title="Radera schemaläggning">
                <span class="icon is-small">
                    <i class="fas fa-times"></i>
                </span>
                <span>Radera</span>
            </a>
        </div>
    </nav>
    <p class="pause-state-buttons has-text-centered is-size-4 is-italic{{#if schedule.isPaused}} hidden{{/if}}" data-id="{{schedule._id}}">{{countDown schedule}} kvar till nästa arkivering</p>
    <p class="pause-state-buttons has-text-centered is-size-4 is-italic{{#unless schedule.isPaused}} hidden{{/unless}}" data-id="{{schedule._id}}">Arkiveringen är pausad</p>
</div>
<div class="columns">
    <div class="column is-full-mobile is-one-third-tablet">
        {{#eq schedule.typeOfSetting 0}} {{> updateSettings }} {{/eq}} {{#eq schedule.typeOfSetting 1}} {{> updateAdvancedSettings}}
        {{/eq}}
    </div>
    <div class="column is-two-thirds-tablet">
        {{> listArchives }}
    </div>
</div>