{{> confirmDeleteSchedule }}
<section class="section">
    <div class="container">
        <div class="box">
            <nav class="level">
                <div class="level-item">
                    <form action="/schedules/run/{{schedule._id}}" method="POST">
                        <button type="submit" name="action" class="button is-info">
                            <span class="icon is-small">
                                <i class="fas fa-cloud-download-alt"></i>
                            </span>
                            <span>Arkivera nu</span>
                        </button>
                    </form>
                </div>
                <div class="level-item">
                    <button id="pause" class="pause-state-buttons button is-warning{{#if schedule.isPaused}} hidden{{/if}}" data-id="{{schedule._id}}">
                        <span class="icon is-small">
                            <i class="fas fa-pause"></i>
                            <i class="fas fa-spinner fa-pulse hidden"></i>
                            <i class="fas fa-exclamation-triangle hidden"></i>
                        </span>
                        <span>Pausa</span>
                    </button>
                    <button id="start" class="pause-state-buttons button is-success{{#unless schedule.isPaused}} hidden{{/unless}}" data-id="{{schedule._id}}">
                        <span class="icon is-small">
                            <i class="fas fa-play"></i>
                            <i class="fas fa-spinner fa-pulse hidden"></i>
                            <i class="fas fa-exclamation-triangle hidden"></i>
                        </span>
                        <span>Starta</span>
                    </button>
                </div>
                <div class="level-item">
                    <a class="button is-danger modal-button" data-target="confirmDel" data-id="{{schedule._id}}" title="Radera schemal채ggning">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        <span>Radera</span>
                    </a>
                </div>
            </nav>
            {{#unlessEq schedule.typeOfSchedule 0 }}
                <div class="has-text-centered is-size-4 is-italic">{{countDown schedule}} kvar till n채sta arkivering</div>
            {{/unlessEq}}
        </div>
        <div class="columns">
            <div class="column is-one-third">
                {{#eq schedule.typeOfSetting 0}} {{> updateSettings }} {{/eq}}
                {{#eq schedule.typeOfSetting 1}} {{> updateAdvancedSettings}} {{/eq}}
            </div>
            <div class="column is-two-thirds">
                {{> listArchives }}
            </div>
        </div>
        <div class="level-item">
            <a class="button is-danger modal-button" data-target="confirmDel" data-id="{{schedule._id}}" title="Radera schemal채ggning">
                <span class="icon is-small">
                    <i class="fas fa-times"></i>
                </span>
                <span>Radera</span>
            </a>
        </div>
    </nav>
    {{#unlessEq schedule.typeOfSchedule 0 }}
    <div class="has-text-centered is-size-4 is-italic">{{countDown schedule}} kvar till n채sta arkivering</div>
    {{/unlessEq}}
</div>
<div class="columns">
    <div class="column is-one-third">
        {{#eq schedule.typeOfSetting 0}} {{> updateSettings }} {{/eq}} {{#eq schedule.typeOfSetting 1}} {{> updateAdvancedSettings
        }} {{/eq}}
    </div>
    <div class="column is-two-thirds">
        {{> listArchives }}
    </div>
</div>