{{> confirmDeleteArchive }}

<section class="section">
    <div class="container">
        <h3 class="subtitle is-3">Mina schemalagda arkiveringar</h3>

        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Sub-URL</th>
                    <th>Exkludera</th>
                    <th>Schemalagd</th>
                    <th colspan="2">Senast uppdaterad</th>
                </tr>
            </thead>
            <tbody class="table-row-hover">
                {{#each docs}}
                <tr title="Ändra schemaläggning">
                    <td>{{url}}</td>
                    <td>{{includeDomains}}</td>
                    <td>{{excludePaths}}</td>
                    <td>{{scheduleName}}</td>
                    <td title="{{updatedAt}}">{{timeSince updatedAt}}</td>
                    <td>
                        <div class="field is-grouped">
                            <a href="/schedules/edit/{{_id}}" class="button is-inverted is-rounded is-info">
                                <span class="icon is-small">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                            <a href="/schedules/delete/{{_id}}" class="button is-inverted is-rounded is-danger modal-button action-delete" data-target="confirmDel"
                                title="Radera schemaläggning">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <nav class="pagination" role="navigation" aria-label="pagination">
            {{#paginate pagination type="previous"}}
            <a {{#unless disabled}}href="?p={{n}}" {{/unless}} id="list-previous" class="button pagination-previous" {{#if disabled}}disabled{{/if}}>
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Föregående</span>
            </a>
            {{/paginate}} {{#paginate pagination type="next"}}
            <a {{#unless disabled}}href="?p={{n}}" {{/unless}} id="list-next" class="button pagination-next" {{#if disabled}}disabled{{/if}}>
                <span>Nästa</span>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </a>
            {{/paginate}}
        </nav>
    </div>
</section>