<div class="field">
    <h3 class="subtitle is-3">Mina schemalagda arkiveringar</h3>

    <div class="table-container">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Webbplats</th>
                    <th>Schemalagd</th>
                    <th>Subdomän</th>
                    <th>Exkludera</th>
                    <th>Robots</th>
                    <th>Struktur</th>
                    <th>Senast uppdaterad</th>
                    <th>Skapad</th>
                </tr>
            </thead>
            <tbody class="table-row-hover">
                {{#each data}}
                <tr>
                    <td>{{url}}</td>
                    <td>{{typeOfSchedule}}</td>
                    <td>{{includeDomains}}</td>
                    <td>{{excludePaths}}</td>
                    <td>{{robots}}</td>
                    <td>{{structure}}</td>
                    <td>{{updatedAt}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                        <a href="/schedules/edit/{{_id}}"></a>
                    </td>
                    <td>
                        <a href="/schedules/delete/{{_id}}">
                            {{!-- <button class="button is-danger hideModal"> --}}
                                <span class="icon">
                                    <i class="fas fa-times"></i>
                                </span>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>